@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

body {
    background-color: #f0f0f0;
    /* overflow: hidden; */
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .5px;
}

.container-fluid{
    padding-top: 60px;
}

.row {
    height: inherit;
}

.dog-cards-col{
    padding: 0;
    overflow-y: scroll;
    height: 92vh;
    padding-left: 70px;
    z-index: 0;
}

.nav-icon-mobile-div{
    text-align: center;
    margin: 35px auto;
}

.logout-nav-icon-mobile{
    margin-top: 90px;
}

.nav-icon-mobile-div svg.svg-inline--fa.fa-clipboard-list.fa-w-12,
.nav-icon-mobile-div svg.svg-inline--fa.fa-user-friends.fa-w-20,
.nav-icon-mobile-div svg.svg-inline--fa.fa-paw.fa-w-16,
.nav-icon-mobile-div svg.svg-inline--fa.fa-cog.fa-w-16,
.nav-icon-mobile-div svg.svg-inline--fa.fa-power-off.fa-w-16.icon{
    font-size: 2.5rem;
    color: #424242;
}

.nav-icon-mobile-div h6{
    font-size: 1.35rem;
    margin-top: 10px;
    color: #424242;
    font-weight: 600;
}
