body {
    background-color: #f0f0f0;
    overflow: hidden;
}

.dashboard-div{
    margin-top: 20px;
}
.container-fluid{
    margin-top: 60px;
}

.row {
    height: inherit;
}

.dog-cards-col{
    padding: 0;
    overflow-y: scroll;
    height: 92vh;
    padding-left: 55px;
}