.dog-card {
    margin-bottom: 20px;
    border-radius: 15px;
    -webkit-box-shadow: 1px 4px 28px -16px rgba(0,0,0,0.65);
    -moz-box-shadow: 1px 4px 28px -16px rgba(0,0,0,0.65);
    box-shadow: 1px 4px 28px -16px rgba(0,0,0,0.65);
}

.dog-card:hover {
    cursor: pointer;
}

.dog-card-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.dog-card .card-body{
    display: flex;
}

.dog-card-name{
    font-weight: 600;
    color: #5c5c5c;
    margin-bottom: 7px;
    border-bottom: 1px solid #e7e7e7;
}