@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2:400,500&display=swap');


.modal-btn:hover{
    cursor: pointer;
}

svg.svg-inline--fa.fa-paw.fa-w-16{
    font-size: 1.35rem;
    margin-right: 8px;
}

.span{
    font-size: 1.35rem;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: 500;
}

#modal-header {
    background-color: #1ee09d;
}

#modal-footer {
    background-color: #1ee09d;
    flex-direction: row-reverse;
}

#modal-body {
    background-color: #f5f5f5;
}

.toggle-button {
    float: right;
    background-color: white;
    color:#4CAF50;
    border: 2px solid #4CAF50;
}