.fg-ul{
    list-style: none;
    padding: 0;
    display: -webkit-box;
    overflow-x: scroll;
}

/* .fg-ul li { */
    /* height: 25vh;
    width: 30%; */
    /* border-right: solid 2px #dedede; */
/* } */