@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');

svg.svg-inline--{
    font-size: 1.35rem;
    margin-right: 8px;
}

.span{
    font-size: 1.35rem;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: 500;
}