@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');

svg.svg-inline--{
    font-size: 1.35rem;
    margin-right: 8px;
}

.span{
    font-size: 1.35rem;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: 500;
}

.sidebar-ul{
    list-style: none;
    padding: 0;
    background-color: #fff;
    height: 100%;
    width: 55px;
    text-align: center;
    border-radius: 10px;
    padding-top: 32px;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 15%;
    z-index: 1;
}

.sidebar-ul li{
    margin-bottom: 33px;
    color: #5c5c5c;
}

.sidebar-ul li:hover,
.sidebar-ul li a:hover{
    color: #00ad6e;
}
.sidebar-ul li a{
    text-decoration: none;
    color: #5c5c5c;
    font-size: 1.35rem;
}