.landing-container{
    position: relative;
    display: flex;
    justify-content: center;
}

.hero{
    width: 100vw;
    position: fixed
    /* display: none; */
};

/* DO NOT REMOVE .SIGNUP */
.signup{
    background: none;
}



span.toggleBtn:hover{
    cursor: pointer;
    color: white;
}