.hero{
    width: 100vw;
    /* position: fixed */
    /* display: none; */
};

/* DO NOT REMOVE EMPTY .SIGNUP */
.signup{}

span.toggleBtn:hover{
    cursor: pointer;
}

.formDiv{
    /* display: none; */
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    margin: auto;
}