.removeUlStyling {
    list-style: none;
    padding: 0;
}

.donut-ul li {
    margin: 0;
    height: auto;
    width: auto;
    border-right: none;
}

.yourDogCard {
    display: flex;
    border-right: solid 2px #dedede;
}