@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2:400,500&display=swap');


.login-form h4,
.login-form .h4{
    color: #fefefe;
    margin-bottom: 20px;
    letter-spacing: 1.25px;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px #0000007a;
}

.login-form .form-group {
    margin-bottom: 25px;
}

.login-form .login-btn {
    width: 100%;
    color: white;
    background-color: #1ee09d;
    text-transform: capitalize;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    margin-bottom: 10px;
}

/* .login-form .login-btn:hover {
    color: white;
    background-color: #1ee09d;
} */