@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2:400,500&display=swap');

h1 {
    font-size: 2.35rem;
    font-family: 'Marck Script', cursive;
    font-weight: 500;
    color: whitesmoke;
    padding-bottom: 20px;
    text-shadow: 2px 2px darkgrey;
}


.login-form  {
    border-radius: 25px;
    background-color: rgba(192, 213, 216, 0.7);
    box-sizing: border-box;
    padding: 25px;
} 

.login {
    width: 50%;
    background-color: rgba(192, 213, 216, 0.7);
    height: 55px;
    /* float: left; */
    text-align: center;
    line-height: 55px;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 4px whitesmoke;
    cursor: pointer;
    text-transform: uppercase;
    color: whitesmoke;
}
.signup-form .button,
.login-form .button{
    text-transform: uppercase;
    width: 100%;
    font-weight: 600;
}
#login-btn {
    background-color: white;
    color: grey;
    border: 2px solid grey;
    border-radius: 12px;
}