@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');

body {
    background-color: #f5f5f5;
}

.nav {
    background-color: #1ee09d;
    padding: 0 20px;
}

.navbar-brand{
    font-family: 'Marck Script', cursive;
    font-size: 23px;
}

.nav .icon {
    font-size: 25px;
    color: #1b1b1b;
}

.nav .icon:hover {
    cursor: pointer;
}

button.navbar-toggler.collapsed {
    border: none;
}

.navbar-light .navbar-toggler {
    border: none;
    border-color: none;
}

.nav button:focus {
    outline:none; 
}