.dog-form-btn {
    float: right;
    background-color: white;
    color: #1ee09d;
    border: 2px solid #1ee09d;
    border-radius: 12px;

}

.dog-form-btn:hover {
    background-color: #1ee09d;
    color: white;
}